#lMiniJournal {
    -fx-font-size: 32px;
}

#lWelcome {
    -fx-font-size: 32px;
}

.button {
    -fx-background-color: #ffffff;
    -fx-border-color: #dadada;
}

.button:hover {
    -fx-background-color: #f5f5f5;
}

.text-area {
    -fx-background-color: #ffffff;
    -fx-border-color: #dadada;
}

#btnAddHabit {
    -fx-background-color: #93E376;
    -fx-text-fill: #fff;
}

#btnRemoveHabit {
    -fx-border-color: #FF845E;
    -fx-text-fill: #FF845E;
}